<h1>LISTE DATA</h1>
<div layout="row" layout-align="center center">
	      <md-button class="md-raised" ng-click="listdata.lol()">Blol</md-button>
<md-input-container class="md-block" flex="20">
	<label>mise</label>
		<md-select ng-model="listdata.selectedMise" select-clear>
			<md-option ng-value="{{null}}">all data</md-option>
			<md-option ng-repeat="data in listdata.touche">
				{{data.mise}}
			</md-option>
		</md-select>
</md-input-container>
<md-input-container class="md-block" flex="20">
	<label>prise</label>
		<md-select ng-model="listdata.selectedPrise">
			<md-option ng-value="{{null}}">all data</md-option>
			<md-option ng-repeat="data in listdata.touche">
				{{data.prise}}
			</md-option>
		</md-select>
</md-input-container>
</div>
<ul>
	<div layout="row">
		<div flex>
			<li ng-repeat="data in listdata.touche | filter: {mise: listdata.selectedMise}">
				{{data.prise}}
				-vs-
				{{data.mise}}
				{{data.sexe}}
				<salut-remove data="data"></salut-remove>
			</li>
		</div>
		<div flex>
			<li ng-repeat="data in listdata.match">
				{{data.date}}-
				{{data.nameG}}
				-vs-
				{{data.nameD}}
				score:
				{{data.scoreG}}
				-
				{{data.scoreD}}
				<match-remove data="data"></match-remove>
			</li>
		</div>
	</div>
</ul>